body {
    background-color: #000000;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #6E6E6E;
}
.heading {
    padding: 20px 0;
    text-align: center;
}
.heading h1 {
    font-weight: 500;
}
.heading a {
    color: #3E3E3E;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.button {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 10px;
    color: #6E6E6E;
}
.link-button {
    color: #3E3E3E;
    font-size: 16px;
}
footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 13px;
    text-align: right;
    color: #3F3F3F;
}
#container {
    max-width: 800px;
    min-width: 280px;
    margin-right: auto;
    margin-left: auto;
}
#pov-example {
    width: 170px;
    display: flex;
    margin: 50px auto 50px auto;
}
.vibrater {
    display: inline-block;
    animation-duration: 0.23s;
    animation-timing-function: linear;
    animation-name: vibration;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes vibration {
    from {
        padding-left: 0px;
    }
    to {
        padding-left: 170px;
    }
}
.editor {
    margin: 10px auto 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}